@charset "utf-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
	background-color: #FFFCF5; 
    font-family: Century Gothic; 
	color: #011746; 
}

h1 { 
    font-size: 60px; 
    font-family: 'Poiret One', sans-serif; 
    color: #620313; 
	margin-bottom: 70px;
   }

h2 { 
    font-size: 40px; 
    font-family: 'Poiret One';
    color: #620313; 
	grid-column: 1 / -1; /* Заголовок занимает все колонки */
    margin-bottom: 7% ; 
	margin-top: 10% ;
   }
h5 { 
    font-weight: bold; 
	font-size: 18px; 
   }
a{
    color: #FFFCF5;
    text-decoration: none; 
	transition: filter 0.3s ease; 
}
   a:hover {
    color: #011746; 
	border: none; 
   }
/*шапка */
.header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #620313;
	color: #FFFCF5; 
    height: 95px; 
    padding: 0 20%; 
}

.logo {
    display: flex;
    align-items: center; 
}

.logo-img {
	display: inline-block; 
    width: 4vw; 
    height: 3.4vw; 
    background-image: url('img/logo.svg'); 
    background-size: cover; 
    transition: background-image 0.3s ease; 
}

.logo-img:hover {
    background-image: url('img/logo1.svg');
}

.logo span {
    margin-left: 20px; 
    color: #FFFCF5;
    font-family: Century Gothic;
}


.search {
    width: 38%; 
    height: 50%; 
	background-color: #FFFCF5;
	font-size: 16px; 
    font-family: Century Gothic;  
    color: #5A6887; 
    text-align: center; 
    border-radius: 15px; 
	border: none; 
	margin-left: 1%
}
.menu a {
    margin-left: 20px; 
}

main{
    display: grid;
	padding: 0 20%;
	grid-template-columns: 1fr  1fr  1fr  1fr  1fr  1fr;
	grid-template-rows: 0.5fr 1fr  1fr;
 }

.info-block {
    grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 4;	
}

.animated-button {
	width: 50%; 
    height: 15%;
	background-color: #DFAEA0;
	font-size: 16px; 
    font-family: Century Gothic;  
    color: #011746; 
    text-align: center; 
    border-radius: 15px; 
    border: none; 
	margin-top: 10%;
    cursor: pointer;
	transition: transform 0.3s, background-color 0.3s;
}

.animated-button:hover {
    transform: scale(1.1);
    background-color: #E3CEC8;
}

.mascot {
   	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 4;
	margin-top: 15%;
}
.mascot img{
	width: 115%;
	height: auto;
}


.products {
	padding: 0 20%;
}

.product-grid {
    display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 45% 50%;
    gap: 20px; 
}

.zoom {
    transition: transform 0.3s; 
}

.zoom:hover {
    transform: scale(1.1); 
}

.product-img1 {
	grid-column-start: 1;
	grid-column-end: 3;
    width: 100%; 
    height: auto; 
}
.product-img2 {
	grid-column-start: 3;
	grid-column-end: 5;
    width: 100%; 
    height: auto; 
}
.product-img3 {
	grid-column-start: 5;
	grid-column-end: 7;
    width: 100%; 
    height: auto; 
}
.product-img4 {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
    width: 100%; 
    height: auto; 
}
.product-img5 {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 3;
    width: 100%; 
    height: auto; 
}

.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	padding: 0 20%; 
}

.komanda {
    
	padding: 0 20%; 
}
.komanda p{
	padding-right:40%;
}

.sotrudniki {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ; 
    gap: 20px;
	
}

.sotrudnik img{
	margin-top: 20%;
	margin-bottom: 3%;
	width: 100%;
}

.footer {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #620313; 
	color: #FFFCF5; 
    height: 340px;
	margin-top: 100px;
    padding: 0 280px;
}

.footer-logo {
	display: flex; 
	flex-direction: column;/* вертикальный*/
    justify-content: space-between; 
    margin-bottom: 20px;
	width: 250px;
	height: 200px;
	border: none; /* Убираем обводку */
	
}

.contacts{
   	display: flex;
	flex-direction: column;
    justify-content: space-between; 
    margin-bottom: 20px;
	height: 200px;
}

.ikonki {
	display: flex; 
	flex-direction: column;
	align-items: center; 
    justify-content: flex-end; 
	gap: 20px;
    margin-bottom: 20px;
	height: 200px;
}

.telegram {
    display: inline-block; 
    width: 3vw; 
    height: 2.5vw; 
    background-image: url('img/telegram.svg'); 
    background-size: cover; 
    transition: background-image 0.3s ease; 
}

.telegram:hover {
    background-image: url('img/telegram1.svg'); 
}
.mail {
    display: inline-block; 
    width: 3vw; 
    height: 2.2vw;
    background-image: url('img/mail.svg'); 
    background-size: cover; 
    transition: background-image 0.3s ease; 
}

.mail:hover {
    background-image: url('img/mail1.svg'); 
}
.dostavka{
    display: flex;
	flex-direction: column; /* вертикальный*/
    justify-content: space-between;
    margin-bottom: 20px;
	height: 200px;
	padding-bottom: 6%;
}
.dostavka a{ 
    font-weight: bold; 
	font-size: 18px;
   }
