@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.categories {
    display: flex; 
    overflow: hidden; /* Скрываем ползунок скролла */
    white-space: nowrap; /* Запрещаем перенос строк */
}

body {
	background-color: #FFFCF5; 
    font-family: Century Gothic; 
	color: #011746; 
}


h1 { 
    font-size: 60px; 
    font-family: 'Poiret One', sans-serif; 
    color: #620313; 
	margin-bottom: 90px;
   }

h2 { 
    font-size: 40px; 
    font-family: 'Poiret One';
    color: #620313; 
   }

h5 { 
    font-weight: bold;
	font-size: 18px; 
   }
a{
    color: #FFFCF5;
    text-decoration: none; 
	transition: filter 0.3s ease; 
}
a:hover {
    color: #011746; 
	border: none; 
	
	
}
/*шапка */

.header {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    background-color: #620313;
	color: #FFFCF5; 
    height: 95px; 
    padding: 0 20%; 
}
.logo {
    display: flex;
    align-items: center; 
}

.logo-img {
	display: inline-block; 
    width: 4vw; 
    height: 3.4vw; 
    background-image: url('img/logo.svg'); 
    background-size: cover; 
    transition: background-image 0.3s ease;
	
}

.logo-img:hover {
    background-image: url('img/logo1.svg');
}

.logo span {
    margin-left: 20px; 
    color: #FFFCF5;
    font-family: Century Gothic;
}


.search {
    width: 38%; 
    height: 50%; 
	background-color: #FFFCF5;
	font-size: 16px; 
    font-family: Century Gothic;  
    color: #5A6887; 
    text-align: center; 
    border-radius: 15px; 
	border: none;
}
.menu a {
    margin-left: 20px; 
}
/* тело */
main {
    padding: 0 20% 
}

/* Информационный блок */
.info-block {
    display: flex;
    justify-content: space-between;
	margin: 110px 0;

}

.text-block  {
    margin-bottom: 70px;
	line-height: 22px;
}

.mascot {
    width: 288px;
    height: 432px;
	margin: -70px 0;
	margin-left: 20px;
}
/* катигории */

.promo-categories {
    margin: 80px 0;
}

.promo-categories h2 {
    margin-bottom: 80px; 
	margin-top: -60px; 
}

.promo-image {
    width: 100%;
    display: block;
    margin-bottom: 30px; 
}

.category {
    width: 210px;
	border-radius: 25px;
}

.category:hover {
	box-shadow: 0px 5px 5px #808080;
}

/* популярные товары */
.popular-products {
    margin: 100px 0;
}

.popular-products h2 {
    margin-bottom: 80px;
}

.products {
    display: flex;
    flex-wrap: wrap; /* переносится на новую строку */
    gap: 70px 20px; 
}

.product {
    width: 23%;
	border-radius: 15px;
    text-align: left;
    position: relative; 
}

.product img {
    width: 100%;
	margin-bottom: 10px;
	transition: filter 0.3s ease; 
}
.product:hover {
  background-color: rgba(12,10,100,0.20) 
  
}
span {
	margin: 10px;
	}


.korzina {
    position: absolute; /* позициия относительно родителя */
    bottom: 45px; 
	right: 10px;
    width: 3vw; 
    height: 2.2vw; 
	display: inline-block; 
    background-image: url('img/korzina.svg'); 
    background-size: cover; 
    transition: background-image 0.3s ease;
}
.korzina:hover {
    opacity: 0.3;
}
.korzina:active {
	opacity: 1;
	background-image: url('img/korzina1.svg'); 
}
.product-info {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; 
}

.footer {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #620313; 
	color: #FFFCF5; 
    height: 340px;
    padding: 0 280px;
}

.footer-logo {
	display: flex; 
	flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
	width: 250px;
	height: 200px;
	
}

.contacts{
   	display: flex; 
	flex-direction: column;
    justify-content: space-between; 
    margin-bottom: 20px;
	height: 200px;
}

.ikonki {
	display: flex; 
	flex-direction: column;
	align-items: center; 
    justify-content: flex-end; 
	gap: 20px;
    margin-bottom: 20px;
	height: 200px;
}

.telegram {
    display: inline-block; 
    width: 3vw; 
    height: 2.5vw; 
    background-image: url('img/telegram.svg'); 
    background-size: cover;
    transition: background-image 0.3s ease; 
}

.telegram:hover {
    background-image: url('img/telegram1.svg'); 
}
.mail {
    display: inline-block; 
    width: 3vw; 
    height: 2.2vw; 
    background-image: url('img/mail.svg');
    background-size: cover; 
    transition: background-image 0.3s ease; 
}

.mail:hover {
    background-image: url('img/mail1.svg'); 
}
.dostavka{
    display: flex; 
	flex-direction: column; 
    justify-content: space-between; 
    margin-bottom: 20px;
	height: 200px;
	padding-bottom: 6%;
}
.dostavka a{ 
    font-weight: bold; 
	font-size: 18px;
   }

